extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="París", class="img-fluid")
            .col-md-7
                p 
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula blandit enim, sed scelerisque ante. Cras vel quam eu eros suscipit ultrices id eget nunc. Pellentesque quis nisl elementum, egestas arcu et, bibendum tortor. Duis dapibus, nulla sed maximus semper, eros velit faucibus magna, a aliquam dui elit id augue. 

                p nec ullamcorper dolor. Praesent in neque pharetra, ultricies est in, aliquam turpis. Fusce sit amet hendrerit velit. Quisque eget pulvinar risus. Aliquam interdum in orci at cursus. Donec a placerat metus, quis vehicula augue. Nunc tellus libero, placerat ut finibus quis, ultricies sed elit. 

                p luctus nec erat quis rhoncus. Vivamus risus elit, efficitur vel nibh vitae, sollicitudin lacinia libero. Suspendisse bibendum tincidunt justo, ac laoreet nunc dignissim quis. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="security icon", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p luctus nec erat quis rhoncus. Vivamus risus elit, efficitur vel nibh vitae, sollicitudin lacinia libero. Suspendisse bibendum tincidunt justo, ac laoreet nunc dignissim quis. 

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="destinations icon", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p luctus nec erat quis rhoncus. Vivamus risus elit, efficitur vel nibh vitae, sollicitudin lacinia libero. Suspendisse bibendum tincidunt justo, ac laoreet nunc dignissim quis. 

                .col-md-4
                    img(src="img/icono_precios.svg" alt="prices icon", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p luctus nec erat quis rhoncus. Vivamus risus elit, efficitur vel nibh vitae, sollicitudin lacinia libero. Suspendisse bibendum tincidunt justo, ac laoreet nunc dignissim quis.



